<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/img/logo.svg" alt="GSP logo">
    <h2>VEX</h2>
  </div>
  <mat-divider></mat-divider>


  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>grid_view</mat-icon>
    <h4>Dashboard</h4>
  </a>

  <h2 matSubheader class="mt-2">GESTION</h2>
  <a mat-list-item routerLink="/company" routerLinkActive="list-item-active">
    <mat-icon>apartment</mat-icon>
    <h4>Entreprises</h4>
  </a>

  <a mat-list-item routerLink="/users" routerLinkActive="list-item-active">
    <mat-icon>phone_in_talk</mat-icon>
    <h4>Contacts</h4>
  </a>

  <a mat-list-item routerLink="/mouvements" routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>
    <h4>Utilisateurs</h4>
  </a>

  <h2 matSubheader class="mt-2 sec-2">APPS</h2>
  <a mat-list-item routerLink="/profile" routerLinkActive="list-item-active">
    <mat-icon>settings_outline</mat-icon>
    <h4>Paramètres</h4>
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>logout</mat-icon>
    <h4>Déconnexion</h4>
  </a>






</mat-nav-list>
