<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon class="hamburger">menu</mat-icon>
    </button>

    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center no-hover-effect">
            <span>David Smith</span>
            <mat-icon class="user-image-icon ">person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>settings_outline</mat-icon>
              Paramètres
            </button>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Déconnexion
            </button>
          </mat-menu>

        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
