:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 280px;
  background: #1a202e;
}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
  background: rgb(245, 245, 248);
}


app-login{
  width: 100%;
}