<div class="dashboard-container">
  <div class="welcome-container">
    <div class="img-box">
      <img src="../../../../assets/img/checklist.svg" alt="">
    </div>

    <div class="text-box">
      <h2>Bonjour {{authService.loggedUser}}</h2>
      <p>Bienvenue dans la galaxie des Prismonautes !</p>
      <p>{{date | date:'MMM d, y, h:mm:ss a'}}</p>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <mat-icon class="company-image-icon ">apartment</mat-icon>
      <h2>Entreprises</h2>
      <a routerLink="/companys">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="contact-image-icon ">phone_in_talk</mat-icon>
      <h2>Contacts</h2>
      <a routerLink="/contacts">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="users-image-icon ">group</mat-icon>
      <h2>Utilisateurs</h2>
      <a routerLink="/users">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="settings-image-icon ">logout</mat-icon>
      <h2>Déconnexion</h2>
      <a href="" (click)="onLogout()">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>
  </div>

  <div class="asto-img">
    <img src="../../../../assets/img/austronaute.svg" alt="">
  </div>
</div>
