<div class="dashboard-container">
  <div class="welcome-container">
    <div class="img-box">
      <img src="../../../../assets/img/checklist.svg" alt="">
    </div>

    <div class="text-box">
      <h2>Bonjour Nader</h2>
      <p>Bienvenue à bord chez les Prismonautes !</p>
      <p>{{date}}</p>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <mat-icon class="company-image-icon ">apartment</mat-icon>
      <h2>Entreprises</h2>
      <a href="#">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="contact-image-icon ">phone_in_talk</mat-icon>
      <h2>Contacts</h2>
      <a href="#">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="users-image-icon ">group</mat-icon>
      <h2>Utilisateurs</h2>
      <a href="#">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>

    <div class="card">
      <mat-icon class="settings-image-icon ">settings_outline</mat-icon>
      <h2>Paramètres</h2>
      <a href="#">
        <mat-icon class="user-image-icon ">arrow_forward</mat-icon>
      </a>
    </div>
  </div>
</div>
